html, body {
	width: 100%;
	height: 100%;
	font-family: "DINPro", "Museo Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


a.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
 /*/* background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
/*  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);*/
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;	
}

ol li {
	margin-bottom: 10px;
}

.container {
	margin-top: 5%;
	max-height: 90%;
	max-width: 100%;
	display: inline;
}

header {
	width: 100%;
	margin: 10px 0 0 10px;
}

nav, #top {
	width: 100%;
	text-align: center;
}	



							/* FIRST PAGE */


/*#hi {
	float: right;
	line-height: 2;
}*/

/*input[type="radio"]:checked+label{ font-weight: bold; } */

/*#background */                           
/*#inputs:before,
 #inputs:after                     {position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; padding-top:100px;}
#inputs:before                     {content:url(../images/hippo.png); padding-left:3%; text-align:left;
                                        background:transparent url(../images/kangaroo.svg) 300% 0 repeat-x;}
#inputs:after                      {content:url(../images/sheep.png); padding-right:3%; text-align:right;
                                        background:transparent url(../images/king.svg) 70% 0 repeat-x;}*/


/*#about {
	display: none;
	position: fixed;
	top:0;
	left: 10%;
	width: 100%;
	height: auto;
	z-index:0; 

    content: transparent url(../images/king.svg) repeat;
}

#about h1 {
	font-size: 24px;
	margin-bottom: 5%;
	text-align: center;
}

#about p {
	font-size: 20px;
}
*/
/*#contents {
	margin: 10% 0 10% 20%;
	text-align: center;
	line-height: 1.5;
}

#contents p, #contents h1 {
	text-align: left;
}
*/


#flags {
	width: 100%;
	height: 3em;
	display: inline;
}
label > input{ /* HIDE RADIO */
  display:none;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */

}

label img {
	width: 100px;
	height: 100px;
	line-height: 2;
	margin: 0 3px 0 3px;
	float: left;
	opacity: 0.5;
	z-index: 2;
	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
    border-radius: 4px;
}

label img.selected {
	  opacity: 1;
}

#message {
	color: red;
	text-align: center;
	font-size: 16px;
}

#instructions
 {
 	font-family: "Museo Sans";
	text-decoration: none;
	color: black;
	font-size: 24px;
	float: right;	
	margin-right: 5px;
}

/*#ninja {
	float: 
}
*/


div#inputs  {
	width: 100%;
	height: 100%;
	/*background-color: gray;*/
/*	position: fixed;*/
	padding-top: 2%;
}

#inputs input {
	     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

#inputs input,
#inputs button,
#inputs p {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}
#inputs p {
	font-size: 120px;
	color: white;
	border-bottom: none;
}

#inputs button {
	border: solid 5px black;
	width: 40%;
	margin: 1% 30% 1% 30%;
	     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

#inputs button:hover {
	background: yellow;
}

#inputs input:active {
	cursor: text;
}

.secret {
	background-image: url('../images/secret.png');
	background-size: contain;
	width: 100px;
 
	opacity: 0.5;

}

										/* INTRODUCTION */

#prepare {
	width: 100%;
}

#intro {
	text-transform: capitalize;
	font-family: "DINPro", "Museo Sans", Helvetica Neue;
	margin: 1% 10% 1% 10%;
	display: none;
}

#intro h2 {
	line-height: 120px;
	font-size: 60px;
	text-align: center;
}


#rocket {
	width: 45%;
	/*float: right;*/
}

/*#rocket img {
	float: right;
	padding-right: 5%;
}*/

#rocket { position: absolute; -webkit-transition: 3s ease-in; -moz-transition: 3s ease-in; -o-transition: 3s ease-in; transition: 3s ease-in; } 

#rocket div { width: 200px; height: 400px; background: url(../images/rocket-ship-shooting-md.png) no-repeat; -webkit-transition: 4s ease-in-out; -moz-transition: 4s ease-in-out; -o-transition: 4s ease-in-out; transition: 4s ease-in-out; 
	/*float:right;*/
}

/* #intro:hover div#rocket div,
 #intro.hovered div#rocket div
  { -webkit-transform: rotate(70deg); -moz-transform: rotate(70deg); -o-transform: rotate(70deg); -ms-transform: rotate(70deg); transform: rotate(70deg); }

 #intro:hover div#rocket,
  #intro.hovered div#rocket
  { -webkit-transform: translate(1200px,-200px); -moz-transform: translate(1200px,-200px); -o-transform: translate(1200px,-200px); -ms-transform: translate(1200px,-200px); transform: translate(1200px,-200px); }

*/
#countdown {
	width: 45%;
	font-size: 120px;
	text-align: left;
	float: right;
	padding-left: 5%;
	line-height: 2;
}

#top
 {
	padding-top: 10%;
	width: 100%;
	float:left;
	left: 50%;
}

/*+++ CORE GAME ++++*/

/*keyboard for mobile browsers*/
#keyboard {
	display: none;
	width: 100%;
}

#kb_letters {
	width: 20%;
	margin: 0 1% 0 1%;
	font-size: 20px;
	font-weight: 700;
	display: inline;
}

#content {
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
}

#timer {
	display: none;
}

h2, #num {
	font-family: "DINPro";
}

.col {
	/*top: 30%;*/
	display: inline-block;
	width: 150px;
	min-width: 120px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
	opacity: 0;
}


#pix,
#lex {
	width: 100px;
 	height: 100px;
	display: inline-block;
	float: left;
	font-size: 100px;
}

#lex {
	font-weight: 700;
/*	width: 150px;
 	height: 150px;*/
 	font-size: 150px;
 	text-align: center;

}

#pix img {
	width: 100px;
	height: auto;

	min-height: 100px;
	min-width: 100px;
	opacity: 1;

}



#num {
	text-align: center;
	width: 100px;
 	height: 70px;
 	opacity: 0.5;
 	font-size: 40px;
 	margin-left: 5%;
 	font-weight: 700;

}



.circle
{
/*width: 50px;
height: 50px;
line-height: 50px;
border-radius: 25px;
border-left: 12px;*/

line-height: 100px;

font-size: 32px;
font-weight: 700;


/*border: dotted 3px black;*/
}
	

.circle-center
{

min-height: 120px;
min-width: 120px;
border-radius: 60px;

text-align: center;
padding: 2% 2% 2% 2%;

opacity: 0.25;

}

.circle-focus {
	/*border: solid 10px white;*/
}

	

.letters {
	position: fixed;
	width: 80%;
	height: auto;
	/*height: 100%;*/
	left: 7.5%;
	/*top: 60%;*/
	display: block;
	/*text-align: center;*/
	font-size: 120px;
	/*margin-left: 30%;*/
	border-radius: 200px;
	opacity: 1;
	background-color: white;
	border: solid white 20px;
	z-index: 50;
}

#letterpix {
	font-size: 300px;
	}	


#letterpix img {
	width: 300px;
 	height: 300px;
	}	


/*++++ OLD REMNANTS +++++++*/
#and p {
	color: black;
	padding: inherit;
	opacity: 0;
}


.jig {
	-webkit-animation-name: jig;
	-webkit-animation-duration: 5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: jig;
	-moz-animation-duration: 5s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: jig;
	animation-duration: 5s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@-webkit-keyframes jig {

	25% { 

	-webkit-transform: scale(1.25)rotate(0deg);
    -moz-transform: scale(1.25)rotate(0deg);
    -ms-transform: scale(1.25)rotate(0deg);
    -o-transform: scale(1.25)rotate(0deg);
    transform: scale(1.25)rotate(0deg); 
}


	50% { 
	-webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform:scale(1.5)  rotate(0deg);
    -o-transform:scale(1.5) rotate(0deg);
	transform:scale(1.5)  rotate(0deg); 
}


	75% { 

	-webkit-transform:scale(1.25) rotate(0deg);
    -moz-transform: scale(1.25)rotate(0deg);
    -ms-transform:scale(1.25) rotate(0deg);
    -o-transform: scale(1.25)rotate(0deg);
    transform:scale(1.25) rotate(0deg); 
}


	100% { 
	-webkit-transform: scale(1) rotate(0deg);
    -moz-transform:scale(1)  rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1)rotate(0deg);
	transform:scale(1)  rotate(0deg); 
}

}

@keyframes jig {
	25% { 

	-webkit-transform: scale(1.25)rotate(0deg);
    -moz-transform: scale(1.25)rotate(0deg);
    -ms-transform: scale(1.25)rotate(0deg);
    -o-transform: scale(1.25)rotate(0deg);
    transform: scale(1.25)rotate(0deg); 
}


	50% { 
	-webkit-transform: scale(1.5) rotate(0deg);
    -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform:scale(1.5)  rotate(0deg);
    -o-transform:scale(1.5) rotate(0deg);
	transform:scale(1.5)  rotate(0deg); 
}


	75% { 

	-webkit-transform:scale(1.25) rotate(0deg);
    -moz-transform: scale(1.25)rotate(0deg);
    -ms-transform:scale(1.25) rotate(0deg);
    -o-transform: scale(1.25)rotate(0deg);
    transform:scale(1.25) rotate(0deg); 
}


	100% { 
	-webkit-transform: scale(1) rotate(360deg);
    -moz-transform:scale(1)  rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1)rotate(360deg);
	transform:scale(1)  rotate(360deg); 
}

}



.letter-success {
	-webkit-animation-name: letter-success;
	-webkit-animation-duration: 3s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: letter-success;
	-moz-animation-duration: 3s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: letter-success;
	animation-duration: 3s;
	transform-origin:50% 50%;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}



@keyframes letter-success {
	75% { 

	-webkit-transform:rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: )rotate(360deg);
    transform: rotate(360deg); 
}


	100% { 
	-webkit-transform: rotate(720deg);
    -moz-transform:  rotate(720deg);
    -ms-transform:  rotate(720deg);
    -o-transform: rotate(720deg);
	transform: rotate(720deg); 
}

}

@-webkit-keyframes letter-success {


	75% { 

	-webkit-transform:rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: )rotate(360deg);
    transform: rotate(360deg); 
}


	100% { 
	-webkit-transform: rotate(720deg);
    -moz-transform:  rotate(720deg);
    -ms-transform:  rotate(720deg);
    -o-transform: rotate(720deg);
	transform: rotate(720deg); 
}

}




@-webkit-keyframes shake {
 0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

	10% { 
	-webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

	20% { 

	-webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

	30% { 
	-webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: ttranslate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

	40% { 
	-webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

	50% { 
	-webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
	transform: translate(-1px, 2px) rotate(-1deg); }

	60% { 
	-webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
	transform: translate(-3px, 1px) rotate(0deg); }
	70% {
	-webkit-transform: translate(2px, 1px) rotate(-1deg); 
    -moz-transform: translate(2px, 1px) rotate(-1deg); 
    -ms-transform: translate(2px, 1px) rotate(-1deg); 
    -o-transform: translate(2px, 1px) rotate(-1deg); 	
	 transform: translate(2px, 1px) rotate(-1deg); }

	80% { 
	-webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
	transform: translate(-1px, -1px) rotate(1deg); }

	90% { 
	-webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
		transform: translate(2px, 2px) rotate(0deg); }

	100% { 
	-webkit-transform: translate(1px, -2px) rotate(-1deg); 
    -moz-transform: translate(1px, -2px) rotate(-1deg); 
    -ms-transform: translate(1px, -2px) rotate(-1deg); 
    -o-transform: translate(1px, -2px) rotate(-1deg); 
	transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
 0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

	10% { 
	-webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }

	20% { 

	-webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }

	30% { 
	-webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: ttranslate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg); }

	40% { 
	-webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }

	50% { 
	-webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
	transform: translate(-1px, 2px) rotate(-1deg); }

	60% { 
	-webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
	transform: translate(-3px, 1px) rotate(0deg); }
	70% {
	-webkit-transform: translate(2px, 1px) rotate(-1deg); 
    -moz-transform: translate(2px, 1px) rotate(-1deg); 
    -ms-transform: translate(2px, 1px) rotate(-1deg); 
    -o-transform: translate(2px, 1px) rotate(-1deg); 	
	 transform: translate(2px, 1px) rotate(-1deg); }

	80% { 
	-webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
	transform: translate(-1px, -1px) rotate(1deg); }

	90% { 
	-webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
		transform: translate(2px, 2px) rotate(0deg); }

	100% { 
	-webkit-transform: translate(1px, -2px) rotate(-1deg); 
    -moz-transform: translate(1px, -2px) rotate(-1deg); 
    -ms-transform: translate(1px, -2px) rotate(-1deg); 
    -o-transform: translate(1px, -2px) rotate(-1deg); 
	transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes liftoff {

 0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

	10% { 
	-webkit-transform: translate(-1px, -2px) rotate(5deg);
    -moz-transform: translate(-1px, -2px) rotate(5deg);
    -ms-transform: translate(-1px, -2px) rotate(5deg);
    -o-transform: translate(-1px, -2px) rotate(5deg);
    transform: translate(-1px, -2px) rotate(5deg); }

	20% { 

	-webkit-transform: translate(50px, -50px) rotate(10deg); 
    -moz-transform: translate(50px, -50px) rotate(10deg); 
    -ms-transform:translate(50px, -50px) rotate(10deg); 
    -o-transform: translate(50px, -50px) rotate(10deg); 
    transform: translate(50px, -50px) rotate(10deg);  }

	30% { 
	-webkit-transform: translate(100px, -150px) rotate(15deg);
    -moz-transform: translate(100px, -150px) rotate(15deg);
    -ms-transform: translate(100px, -150px) rotate(15deg);
    -o-transform: translate(100px, -150px) rotate(15deg);
    transform: translate(100px, -150px) rotate(15deg); }

	40% { 
	-webkit-transform: translate(250px, -300px) rotate(20deg);
    -moz-transform: translate(250px, -300px) rotate(20deg);
    -ms-transform: translate(250px, -300px) rotate(20deg);
    -o-transform: translate(250px, -300px) rotate(20deg);
    transform: translate(250px, -300px) rotate(20deg); }

	50% { 
	-webkit-transform:translate(350px, -425px) rotate(30deg);
    -moz-transform: translate(350px, -425px) rotate(30deg);
    -ms-transform: translate(350px, -425px) rotate(30deg);
    -o-transform: translate(350px, -425px) rotate(30deg);
	transform: translate(350px, -425px) rotate(30deg); }

	60% { 
	-webkit-transform: translate(500px, -550px) rotate(40deg);
    -moz-transform: translate(500px, -550px) rotate(40deg);
    -ms-transform: translate(500px, -550px) rotate(40deg);
    -o-transform: translate(500px, -550px) rotate(40deg);
	transform: translate(500px, -550px) rotate(40deg); }
	70% {
	-webkit-transform: translate(700px, -700px) rotate(50deg);
    -moz-transform: translate(700px, -700px) rotate(50deg); 
    -ms-transform: translate(700px, -700px) rotate(50deg);
    -o-transform: translate(700px, -700px) rotate(50deg);	
	 transform: translate(700px, -700px) rotate(50deg); }

	80% { 
	-webkit-transform: translate(900px, -800px) rotate(60deg);
    -moz-transform: translate(900px, -800px) rotate(60deg);
    -ms-transform: translate(900px, -800px) rotate(60deg);
    -o-transform: translate(900px, -800px) rotate(60deg);
	transform: translate(900px, -800px) rotate(60deg); }

	90% { 
	-webkit-transform: translate(1100px, -900px) rotate(65deg);
    -moz-transform: translate(1100px, -900px) rotate(65deg);
    -ms-transform: translate(1100px, -900px) rotate(65deg);
    -o-transform: translate(1100px, -900px) rotate(65deg);
		transform: translate(1100px, -900px) rotate(65deg); }

	100% { 
	-webkit-transform: translate(1300px, -1000px) rotate(65deg); 
    -moz-transform: translate(1300px, -1000px) rotate(65deg);  
    -ms-transform: translate(1300px, -1000px) rotate(65deg); 
    -o-transform: translate(1300px, -1000px) rotate(65deg); 
	transform: translate(1300px, -1000px) rotate(65deg);  }
}


@-webkit-keyframes liftoff  {

 0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg); }

	10% { 
	-webkit-transform: translate(-1px, -2px) rotate(5deg);
    -moz-transform: translate(-1px, -2px) rotate(5deg);
    -ms-transform: translate(-1px, -2px) rotate(5deg);
    -o-transform: translate(-1px, -2px) rotate(5deg);
    transform: translate(-1px, -2px) rotate(5deg); }

	20% { 

	-webkit-transform: translate(50px, -50px) rotate(10deg); 
    -moz-transform: translate(50px, -50px) rotate(10deg); 
    -ms-transform:translate(50px, -50px) rotate(10deg); 
    -o-transform: translate(50px, -50px) rotate(10deg); 
    transform: translate(50px, -50px) rotate(10deg);  }

	30% { 
	-webkit-transform: translate(100px, -150px) rotate(15deg);
    -moz-transform: translate(100px, -150px) rotate(15deg);
    -ms-transform: translate(100px, -150px) rotate(15deg);
    -o-transform: translate(100px, -150px) rotate(15deg);
    transform: translate(100px, -150px) rotate(15deg); }

	40% { 
	-webkit-transform: translate(250px, -300px) rotate(20deg);
    -moz-transform: translate(250px, -300px) rotate(20deg);
    -ms-transform: translate(250px, -300px) rotate(20deg);
    -o-transform: translate(250px, -300px) rotate(20deg);
    transform: translate(250px, -300px) rotate(20deg); }

	50% { 
	-webkit-transform:translate(350px, -425px) rotate(30deg);
    -moz-transform: translate(350px, -425px) rotate(30deg);
    -ms-transform: translate(350px, -425px) rotate(30deg);
    -o-transform: translate(350px, -425px) rotate(30deg);
	transform: translate(350px, -425px) rotate(30deg); }

	60% { 
	-webkit-transform: translate(500px, -550px) rotate(40deg);
    -moz-transform: translate(500px, -550px) rotate(40deg);
    -ms-transform: translate(500px, -550px) rotate(40deg);
    -o-transform: translate(500px, -550px) rotate(40deg);
	transform: translate(500px, -550px) rotate(40deg); }
	70% {
	-webkit-transform: translate(700px, -700px) rotate(50deg);
    -moz-transform: translate(700px, -700px) rotate(50deg); 
    -ms-transform: translate(700px, -700px) rotate(50deg);
    -o-transform: translate(700px, -700px) rotate(50deg);	
	 transform: translate(700px, -700px) rotate(50deg); }

	80% { 
	-webkit-transform: translate(900px, -800px) rotate(60deg);
    -moz-transform: translate(900px, -800px) rotate(60deg);
    -ms-transform: translate(900px, -800px) rotate(60deg);
    -o-transform: translate(900px, -800px) rotate(60deg);
	transform: translate(900px, -800px) rotate(60deg); }

	90% { 
	-webkit-transform: translate(1100px, -900px) rotate(65deg);
    -moz-transform: translate(1100px, -900px) rotate(65deg);
    -ms-transform: translate(1100px, -900px) rotate(65deg);
    -o-transform: translate(1100px, -900px) rotate(65deg);
		transform: translate(1100px, -900px) rotate(65deg); }

	100% { 
	-webkit-transform: translate(1300px, -1000px) rotate(65deg); 
    -moz-transform: translate(1300px, -1000px) rotate(65deg);  
    -ms-transform: translate(1300px, -1000px) rotate(65deg); 
    -o-transform: translate(1300px, -1000px) rotate(65deg); 
	transform: translate(1300px, -1000px) rotate(65deg);  }
}

.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: shake;
	-moz-animation-duration: 0.8s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: shake;
	animation-duration: 0.8s;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.liftoff {
	-webkit-animation-name: liftoff;
	-webkit-animation-duration: 2.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: liftoff;
	-moz-animation-duration: 2.5s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: liftoff;
	animation-duration: 2.5s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}





.shake {
	display:inline-block
}


@-webkit-keyframes demo {
    0% {
      
    }
    22% {
        
    }
    77% {
        
    }
    100% {
        background-color: White;
    }
}
    
.active{
  -webkit-animation-name: demo;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  -moz-animation-name: demo;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}



/*+++++++ AFTER GAME ++++++++*/

#congrats {
	top: -10%; /*hide it*/
	left: 70%;
	float: left;
	display: none;
	z-index: 5;
	position: absolute;
}

#congrats img {
		width: 140px;
}

#again p {
	opacity: 0;
	font-size: 50px;
	float: right;
	top: 0;
	margin-right: 2%;
	color: white;
	border: solid 3px white;
	font-weight: 700;
	z-index: 5;
	position: absolute;
}


