html, body {
	width: 100%;
	height: 100%;
	font-family: "DINPro", "Museo Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	margin-top: 5%;
	max-height: 90%;
	max-width: 100%;
	display: inline;
}

											/* FIRST PAGE */
#flags {
	width: 100%;
	height: 3em;
	display: inline;
}
label > input{ /* HIDE RADIO */
  display:none;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */

}

/*input[type="radio"]:checked+label{ font-weight: bold; } */


#flags label img {
	width: 100px;
	height: 100px;
	float: left;
	opacity: 0.5;
}

#flags label img.selected {
	  opacity: 1;
}


div#inputs  {
	width: 100%;
	height: 100%;
	/*background-color: gray;*/
/*	position: fixed;*/
	padding-top: 2%;
}

#inputs input,
#inputs button,
#inputs p {
	text-transform: capitalize;
	font-family: Helvetica Neue;
	width: 80%;
	margin: 1% 10% 1% 10%;
	text-align: center;
	font-size: 60px;

	box-shadow: none;
	border-style: none;
	border-bottom: 2px solid black;
	line-height: 120px;
}
#inputs p {
	font-size: 120px;
	color: white;
	border-bottom: none;
}

#inputs button {
	border: solid 5px black;
	width: 40%;
	margin: 1% 30% 1% 30%;
}

#inputs button:hover {
	background: yellow;
}

#inputs input:active {
	cursor: text;
}

.secret {
	background-image: url('../images/secret.png');
	background-size: contain;
	width: 100px;
 
	opacity: 0.5;

}

										/* INTRODUCTION */

#prepare {
	width: 100%;
}

#intro {
	text-transform: capitalize;
	font-family: "DINPro", "Museo Sans", Helvetica Neue;
	margin: 1% 10% 1% 10%;
	display: none;
}

#intro h2 {
	line-height: 120px;
	font-size: 60px;
	text-align: center;
}


#rocket {
	width: 45%;
	/*float: right;*/
}

/*#rocket img {
	float: right;
	padding-right: 5%;
}*/

#rocket { position: absolute; -webkit-transition: 3s ease-in; -moz-transition: 3s ease-in; -o-transition: 3s ease-in; transition: 3s ease-in; } 

#rocket div { width: 200px; height: 400px; background: url(../images/rocket-ship-shooting-md.png) no-repeat; -webkit-transition: 4s ease-in-out; -moz-transition: 4s ease-in-out; -o-transition: 4s ease-in-out; transition: 4s ease-in-out; 
	/*float:right;*/
}

/* #intro:hover div#rocket div,
 #intro.hovered div#rocket div
  { -webkit-transform: rotate(70deg); -moz-transform: rotate(70deg); -o-transform: rotate(70deg); -ms-transform: rotate(70deg); transform: rotate(70deg); }

 #intro:hover div#rocket,
  #intro.hovered div#rocket
  { -webkit-transform: translate(1200px,-200px); -moz-transform: translate(1200px,-200px); -o-transform: translate(1200px,-200px); -ms-transform: translate(1200px,-200px); transform: translate(1200px,-200px); }

*/
#countdown {
	width: 45%;
	font-size: 120px;
	text-align: left;
	float: right;
	padding-left: 5%;
	line-height: 2;
}

#top
 {
	padding-top: 10%;
	width: 100%;
	float:left;
	left: 50%;
}

/*+++ CORE GAME ++++*/

#content {
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
}

#timer {
	display: none;
}

h2, #num {
	font-family: "DINPro";
}

.col {
	/*top: 30%;*/
	display: inline-block;
	width: 150px;
	min-width: 120px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
	opacity: 0;

}



#pix,
#lex {
	width: 100px;
 	height: 100px;
	display: inline-block;
	float: left;
	font-size: 100px;
}

#lex {
	font-weight: 700;
/*	width: 150px;
 	height: 150px;*/
 	font-size: 150px;
 	text-align: center;

}

#pix img {
	width: 100px;
	height: 100px;

	min-height: 100px;
	min-width: 100px;
	opacity: 1;

}


#num {
	text-align: center;
	width: 100px;
 	height: 70px;
 	opacity: 0.5;
 	font-size: 40px;
 	margin-left: 5%;
 	font-weight: 700;

}



.circle
{
/*width: 50px;
height: 50px;
line-height: 50px;
border-radius: 25px;
border-left: 12px;*/

line-height: 100px;

font-size: 32px;
font-weight: 700;


/*border: dotted 3px black;*/
}
	

.circle-center
{

min-height: 120px;
min-width: 120px;
border-radius: 60px;

text-align: center;
padding: 2% 2% 2% 2%;

opacity: 0.25;

border: solid 14px white;
}
	

.letters {
	position: fixed;
	width: 20%;
	left: 10%;
	display: block;
	text-align: center;
	font-size: 120px;
}

#letterpix {
	font-size: 120px;
	}	


#letterpix img {
	width: 100px;
 	height: 100px;
	}	


/*++++ OLD REMNANTS +++++++*/
#and p {
	color: black;
	padding: inherit;
	opacity: 0;
}

@-webkit-keyframes rocket {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes liftoff {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(5deg); }
	20% { -webkit-transform: translate(50px, -50px) rotate(10deg); }
	30% { -webkit-transform: translate(100px, -150px) rotate(15deg); }
	40% { -webkit-transform: translate(250px, -300px) rotate(20deg); }
	50% { -webkit-transform: translate(350px, -425px) rotate(30deg); }
	60% { -webkit-transform: translate(500px, -550px) rotate(40deg); }
	70% { -webkit-transform: translate(700px, -700px) rotate(50deg); }
	80% { -webkit-transform: translate(900px, -800px) rotate(60deg); }
	90% { -webkit-transform: translate(1100px, -900px) rotate(65deg); }
	100% { -webkit-transform: translate(1300px, -1000px) rotate(65deg); }
}

.shake {
	-webkit-animation-name: rocket;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.liftoff {
	-webkit-animation-name: liftoff;
	-webkit-animation-duration: 2.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}




.shake {
	display:inline-block
}


@-webkit-keyframes demo {
    0% {
      
    }
    22% {
        
    }
    77% {
        
    }
    100% {
        background-color: White;
    }
}
    
.active{
  -webkit-animation-name: demo;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  -moz-animation-name: demo;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}



/*+++++++ AFTER GAME ++++++++*/

#congrats {
	top: -10%; /*hide it*/
	left: 70%;
	float: left;
	display: none;
	z-index: 5;
	position: absolute;
}

#congrats img {
		width: 140px;
}

#again p {
	opacity: 0;
	font-size: 50px;
	float: right;
	top: 0;
	margin-right: 2%;
	color: white;
	border: solid 3px white;
	font-weight: 700;
	z-index: 5;
	position: absolute;
}


